/.wp-env/
/assets/dist/
/coverage/
/dist/
/node_modules/
/.vite/
/node_modules/.vite/
/vendor/
/.phpunit.result.cache
/.npmrc
/.env
/.wp-env.override.json
/test-results/
/playwright-report/
/.lighthouseci/
/reports/
